body {
  background-color: black;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 100vh;
}

.toolbar {
  background-color: #222;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.toolbar-text {
  font-family: Consolas;
  font-weight: bold;
  color: white;
  font-size: 19px;
}

.square {
  background-color: #222;
  width: 580px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square:hover {
}

.rectangle {
  background-color: #222;
  width: 700px;
  height: 30px;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 20px;
  color: white;
  font-family: Consolas;
  font-weight: bold;
  position: fixed;
  top: 100px;
}

a {
  background-color: #0c1414;
  color: white;
  font-family: Consolas;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 20;
  transform: translateX(-50%);
  transition: all 0.2s ease-in-out;
  transform-origin: center;
  text-decoration: none;
  display: block;
  width: fit-content;
  transform: scale(1);
}

a:hover {
  transform: scale(1.1);
}
